@import 'variables';

a {
  text-decoration: none;
  color: inherit;
}

.match-item {
  margin: 20px 0;
  background-color: $primary-dark-color;
  padding: 15px 30px;

  .home-team {
    justify-content: flex-start;
  }

  .away-team {
    text-align: right;
    justify-content: flex-end;
  }

  .team {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      // height: 64px;
      margin: 10px;
    }
  }

  .match-separator {
    height: 100%;
    font-weight: 600;
    font-size: 2rem;
    color: $primary-color;
    margin: 0 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}