@import 'variables';

header {
  border-bottom: 1px solid $primary-color;
  margin-bottom: 20px;
  
  .navbar {
    background-color: $primary-dark-color;
    padding: 16px 10px;

    .navbar-toggler {
      border-color: $primary-color;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .nav-item {
      background: $button-dark;
      padding: 3px 10px;
      border-radius: 10px;
      margin: 0 7px;
      margin-top: 10px;
      
      .nav-link {
        color: white;
      }
  
      .nav-link.active {
        color: $primary-color;
      }
    }

    @media (min-width: 768px) {
      .nav-item {
        margin-top: 0;
      }
    }
  }
}

.header__login-button {
  background-color: #555;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: .25rem;
}

.header__login-button:hover {
  background-color: #777;
}

.accout-buttons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.accout-buttons h4 {
  color: white;
  margin: 0;
  font-size: 21px;
}

.profile {
  position: relative;
  cursor: pointer;
  display: flex;
  color: white;
  margin-right: 30px;
  user-select: none;
  z-index: 2;
}

.profile .profile-user-info {
  text-align: left;
  margin: 0 10px;
}

.profile div p {
  margin: 0;
  font-size: 14px;
}

.profile .profile-arrow {
  margin-left: 30px;
}

.profile .dropdown-menu {
  background-color: $primary-dark-color;
  border-bottom: 3px solid $primary-color;
  color: white;
  display: flex;
  border-left: 2px solid $primary-color;
  border-right: 2px solid $primary-color;
  width: 280px;
  position: absolute;
  border-radius: 0px 0px 12px 12px;
  border-top: none;
  z-index: 2;
  top: 59px;
  right: -8px;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.4);
  cursor: default;
}

.profile .dropdown-menu ul {
  list-style-type: none;
  width: 100%;
  padding: 0px 15px 10px 15px;
  margin: 0;
}

.profile .dropdown-menu li {
  padding: 5px 0;
  border-radius: 10px;
  margin: 7px 0;
  background: $button-dark;
  text-align: center;
  cursor: pointer;
}

.profile .dropdown-menu li i {
  margin-right: 3px;
  color: $primary-color;
}

.profile .dropdown-menu li:hover {
  background-color: $button-dark-hover;
}

.profile .profile-arrow.open {
  transform: rotate(180deg);
}

.profile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
}