$primary-color: #08d565;
$primary-color-hover: #08af53;

$primary-dark-color: #1d1d1d;
$secondary-dark-color: #2c2c2c;

$background-color: #0a0a0a;

$button-dark: #2c2c2c;
$button-dark-hover: #383838;