@import 'variables';

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;

  h3 {
    font-weight: 600;
  }
}

#live-matches {
  .live-matches__counter {
    color: $primary-color;
  }
}